@using LuminaireConfigurator.Shared
@using LuminaireConfigurator.Client.Services
@inject ILuminaireConfigurationService  LuminaireConfigurationService 

<h2>Details of configuration @Configuration?.Name</h2>

<dl class="dl-horizontal">
    <dt>
        Configuration name:
    </dt>
    <dd>
        @Configuration?.Name
    </dd>
    <dt>
        Creation Date:
    </dt>
    <dd>
        @configuration?.CreationTime.ToShortDateString()
    </dd>
    <dt>
       Lamp Color :
    </dt>
    <dd>
        @configuration?.LampColor °K
    </dd>
    <dt>
        Optic:
    </dt>
    <dd>
        @configuration?.Optic
    </dd>
    <dt>
        Lamp Flux
    </dt>
    <dd>
        @configuration?.LampFlux lm
    </dd>
</dl>
