@page "/itemsproviderdemo"

@using LuminaireConfigurator.Shared

<h1>Configuration List - ItemsProviderDemo</h1>

<p>List of configurations</p>
<div style="height:500px;overflow-y:scroll; border:solid 1px black">
    <Virtualize Context="configuration" ItemsProvider="LoadConfigurations">
        <ItemContent>
            <div>
                @configuration.Name (@configuration.Optic)
            </div>
        </ItemContent>
        <Placeholder>
            <div>
                Loading&hellip;
            </div>
        </Placeholder>
    </Virtualize>
</div>